a {
    transition: $transition;
}

.logo-img {
    max-height: 5rem;
    padding: 10px;
}

.box-spacing {
    padding: $spacing-unit/4;
}

.rect-cover {
    min-height: 50vh;
    padding: $spacing-unit/2; // background-clip: content-box;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: $transition;
    }
    &:hover:after {
        opacity: 1;
        background: -moz-linear-gradient(45deg, transparentize($brand-color, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, transparentize($brand-color, 0.4)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
        background: -webkit-linear-gradient(45deg, transparentize($brand-color, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        background: -o-linear-gradient(45deg, transparentize($brand-color, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        background: -ms-linear-gradient(45deg, transparentize($brand-color, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(45deg, transparentize($brand-color, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    }
}

a.rect-cover:hover {
    text-decoration: none;
    color: lighten($brand-color, 40%);
}

.bottom-text {
    position  : absolute;
    bottom    : 0;
    left      : 0;
    right     : 0;
    padding   : 0 $spacing-unit/2;
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

@media screen and (min-width: 48em) {
    .rect-cover {
        min-height: 30vw;
    }
}