---
layout: default
---

<div class="home">
	{%- if page.title -%}
		<h1 class="page-heading">{{ page.title }}</h1>
	{%- endif -%}

	{{ content }}

	{%- if site.posts.size > 0 -%}
		{% comment %}
		<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
		{% endcomment %}
		<ul class="post-list pure-g">
			{%- for post in site.posts -%}
			<li class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 box-spacing">
				<a class="post-link rect-cover" href="{{ post.url | relative_url }}" {% if post.cover-image %} style="background-image: url({{ post.cover-image }}){% endif %};">
					<div class="bottom-text">	
						{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
						<span class="post-meta">{{ post.date | date: date_format }}</span>
						<h3>{{ post.title | escape }}</h3>
						{%- if site.show_excerpts -%}
							{{ post.excerpt }}
						{%- endif -%}
					</div>
				</a>
			</li>
			{%- endfor -%}
		</ul>

		{% if site.rss-show == 1 %}
		<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
		{%- endif -%}
	{%- endif -%}

</div>
